<html>
<body>
    <form action="http://dumdumpay.site/secure/" method="POST">
        <input type="text" name="MD" value="testorder-1" />
        <input type="text" name="TermUrl" value="<url to final redirect>" />
        <input type="text" name="PaReq" value="MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwREJCOTk5NDYtQTEwQS00RDFCLUE3NDItNTc3RkEwMjZCQzU3" />
        <input type="submit" title="Submit" />
    </form>
</body>
</html>